# Project place file
/cbrfp.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally lock files and packages
/Packages
/ServerPackages
/wally.lock

# LSP files
/sourcemap.json

# VSCode files
.vscode